.title {
    margin-bottom: 30px;
}
.title > h2 {
    color: var(--main);
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
}
.title > p {
    color: var(--text-one);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}
/* .login-form-container {
    background: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url('../../../images/Hero-img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */

.login-form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.login-form-field {
    padding: 10px 14px;
    width: 100%;
    border-radius: 8px;
    margin-top: 8px;
    border: 2px solid #F7F8FF;

}
.error-field {
    display: flex;
    align-items: center;
}
.error-span {
    position: relative;
    padding: 0 5px;
}
.error-show {
    position: relative;
    padding: 0 5px;
    display: block;
}
.bi-x-circle {
    position: absolute;
    top: -10px;
    color: red;
}
input:focus {
    outline: none;
}
label {
    font-size: 14px;
    font-weight: 600;
}
.password-span {
    position: relative;
}


.icon-span {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    right: 20px;
    top: 20px;
}
.bi-eye-slash, .bi-eye{
    color: var(--main);
}
.login-form-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 0 0;
}
.check {
    display: flex;
    align-items: center;
}
.check > input {
    margin: 0 8px;
}
.forgotpwd {
    font-size: 14px;
    font-weight: 600;

}
.forgotpwd > p {
    margin: 0;
}
.login-form-button {
    margin: 20px 0;
}
.log-form-btn {
    width: 100%;
    border: none;
    padding: 10px;
    font-weight: 600;
    border-radius: 8px;
    color: var(--bg-color);
    background-color: var(--primary-color);
    transition: .3s ease-in-out;
}
.log-form-btn:hover {
    background-color: #363b6b;
}
.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}
.log-form-btn:disabled {
      background:  #fff;
      border: 2px solid #D0D5DD;
   color: #ccc;
   cursor: no-drop;

}