.navbar-container{
    background: white;
    margin: 20px 0;
}
.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin-right: 25px;
}
.nav-item{
    text-decoration: none;
    color: var(--primary-color);
}
.nav-item:hover {
    color: var(--primary-color)
}
.brand-name {
    flex-grow: 1;
}
.brand-name{
    font-size: 28px;
    font-weight: 500;
    line-height: 38px;
}
.log-btn {
    border: none;
    background-color: var(--primary-color);
    color: var(--bg-color);
    padding: 5px 25px;
    border-radius: 5px;
}