:root {
  --primary-color: #1b2050;
  --secondary-color: #4e5ba6;
  --disabled-color: #D6DADE;
  --bg-color: #ffffff;
  --text-color: #151515;
  --text-color2:  #4a55bb;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}
.footer-bg {
    background-color: var(--primary-color);
    color: var(--bg-color);
    padding: 30px 0;
}
